<div class="col-sm-3 col-md-2 sidebar">
<h4>Direct Links</h4>
	<ul class="list-group">
		<button class="btn btn-primary btn-md" ng-click="getNotes('all')">All Applications</button>
		<br><br>
		<li class="list-group-item"><a href="/feature/Reporters: Business">Reporters: Business&Financial</a></li>
	    <li class="list-group-item"><a href="/feature/Reporters: Features">Reporters: Features</a></li>
	    <li class="list-group-item"><a href="/feature/Reporters: Foreign (assignments would be in the Washington newsroom)">Reporters: Foreign (assignments would be in the Washington newsroom)</a></li>
	    <!-- <li class="list-group-item"><a href="/feature/Reporters: Investigative">Reporters: Investigative</a></li> -->
	    <li class="list-group-item"><a href="/feature/Reporters: Local">Reporters: Local</a></li>
	    <li class="list-group-item"><a href="/feature/Reporters: National (includes health">Reporters: National (includes health&science)</a></li>
	    <li class="list-group-item"><a href="/feature/Reporters: Sports">Reporters: Sports</a></li>
	    <li class="list-group-item"><a href="/feature/Editorial Writers">Editorial Writers</a></li>
	    <li class="list-group-item"><a href="/feature/Visual Journalists: Video">Visual Journalists: Video</a></li>
	    <li class="list-group-item"><a href="/feature/Copy Editors">Copy Editors</a></li>
	    <li class="list-group-item"><a href="/feature/Multiplatform Producers">Multiplatform Producers</a></li>
	    <li class="list-group-item"><a href="/feature/News Designers">News Designers</a></li>
	    <li class="list-group-item"><a href="/feature/Digital Designers">Digital Designers</a></li>
	    <li class="list-group-item"><a href="/feature/Graphic Reporters">Graphic Reporters</a></li>
	    <li class="list-group-item"><a href="/feature/Graphic Developers">Graphic Developers</a></li>
	    <li class="list-group-item"><a href="/feature/Social Media Producers">Social Media Producers</a></li>  
</div>