<div class="col-sm-3 col-md-2 sidebar">

  <ul class="nav nav-sidebar">
  	<h4 class="col-md-12">Navigation</h4>
  </ul>

  <ul class="nav nav-sidebar">
    <li><a href="/">Dashboard</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="/create">Add Note</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<h4 class="col-md-12">Resource Links</h4>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="https://docs.mongodb.org/v2.6/" target="_blank">MongoDB</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="http://expressjs.com/" target="_blank">ExpressJS</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="https://angularjs.org/" target="_blank">AngularJS</a></li>
  </ul>

  <ul class="nav nav-sidebar">
  	<li><a href="https://nodejs.org/en/" target="_blank">NodeJS</a></li>
  </ul>
</div>