<!DOCTYPE html>
<html ng-app="notesApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="notesCtrl">
    <div class="container-fluid" ng-init="getNotes()">
      <div class="row">
        <div class="col-sm-11 col-sm-offset-1 col-md-12 col-md-offset-0 main">
          
          <h1 class="page-header">Newsroom Internship - Submissions</h1>
          
          <div class="col-sm-12">
            Hello welcome to Newsroom Internship Submissions.  You can search below.
          </div>
          <br><br>
          <form class="col-md-12 form-group input-group-lg">
            <input ng-model="query" type="text" class="form-control" placeholder="Search..." autofocus>
          </form>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                      Name
                      <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
                    </a>
                  </th>
                  <th>
                    Email Address
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                      First Choice
                      <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                      Second Choice
                      <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
                    </a>
                  </th>
                  <th>
                    <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
                      Third Choice
                      <span ng-show="sortType == 'title' && !sortReverse" class="fa fa-caret-up"></span>
                      <span ng-show="sortType == 'title' && sortReverse" class="fa fa-caret-down"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="note in userNotes | filter:query | unique: '_id' | orderBy:sortType:sortReverse">
                  <td><a href="https://sub.washingtonpost.com/submission/{{note._id}}" target="_blank">{{ note.formData.first_and_last_name_1 }}</a></td>
                  <td>{{ note.formData.email_address_2 }}</td>
                  <td>{{ note.formData.first_choice_4 }}</td>
                  <td>{{ note.formData.second_choice_5 }}</td>
                  <td>{{ note.formData.third_choice_17 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

   </body>
   <% include partials/javascripts.ejs %>  
</html>