<!DOCTYPE html>
<html ng-app="notesApp"><html>
  <% include partials/nav.ejs %>  
  <body ng-controller="notesCtrl">
  <% include partials/sidebar.ejs %>  
    <div class="container-fluid" ng-init="singleNote('<%= noteId %>')">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          
          <h1 class="page-header">{{userNote.title}}</h1>
          <!-- <h5>Created: {{userNote._id | creationDate | date:'MMM d, y h:mm:ss a'}}</h5> -->
          <h5>Created: {{userNote._id}}</h5>
          
          <div class="col-sm-12">
            {{userNote.body}}
          </div>
          
        </div>
      </div>
    </div>

   </body>
   <% include partials/javascripts.ejs %>  
</html>