<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Newsroom Internship Applications</title>
    <!-- Bootstrap core CSS -->
    <link href="/javascripts/resources/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/javascripts/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">
</head>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Newsroom Internship Applications</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#">Help</a></li> -->
      </ul>
    </div>
  </div>
</nav>