<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="/">Dashboard</a></li>
  </ul>
  <ul class="nav nav-sidebar">
  	<li><a href="/create">Add Note</a></li>
  </ul>
</div>